:root{
    --text: #0e0904;
    --background: #fbf6f1;
    --primary: #c58b45;
    --secondary: #addc90;
    --accent: #70d273;
}

.u-background-color{
    background-color: var(--background)
}

.u-text-color{
   color: var(--text);
}

.u-center-text{
    text-align: center;
}

