
/* Text Sizes */
h1 {
    font-size: calc(2rem + 1vw); /* makes it 2rem and addaptive to 0.5% of view field */
    font-family: sans-serif;
    text-align: center;
    font-style: normal;
    text-decoration: underline;
} 


h2 {
    font-size: 1.5rem; /* makes it addaptive to 1.6% of view field */
    font-family: sans-serif;
    text-align: left;
    font-style: normal;
    text-decoration: underline;
} 

body {
    text-align: center;
}

p {
    font-size: 1rem; /* makes it addaptive to 1.5% of view field */
    font-family: system-ui;
}

.quote_paragraph {
    font-family: cursive;
    font-size: 2rem;
    font-style: italic, bold;
    text-align: left;
    background-color: antiquewhite;
    /*background-color: hsl(34, 78%, 91%); the same color in hsl*/
}

.caption_style {
    font-family: David;
    font-size: 1.5rem;
}

.translation {
    font-family: system-ui;
    font-size: 1.5rem;
    font-style: normal;
    text-align: left;
}

img {
    width: 200px; /* Set a fixed width for images */
    height: auto; /* Set an aout height for images, proportional to width */
    display: block; /* Ensures images don't have extra space below them */
    margin: auto;
}